* {
  box-sizing: border-box;
}
:root {
  --epl-dark-purple:#37003c; // rgb(55, 0, 60)
  --epl-purple:#7367ff;
  --epl-light-purple:#963cff;
  --epl-teal:#05f0ff;
  --epl-pink:#E82962;
}

.App {
  background-color: #282c34;
  background-image: linear-gradient(98.5deg,var(--epl-teal) -46.16%,var(--epl-purple) 42.64%,var(--epl-light-purple) 70.3%);
  font-family: PremierSans-Regular,Arial,Helvetica Neue,Helvetica,sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: white;
  min-height: 100vh;

  a {
    font-family: PremierSans-Bold,Arial,Helvetica Neue,Helvetica,sans-serif;
    color: white;
    &:visited {
      color: white;
    }
  }
}

h1,h2, h3,h4,h5,h6 {
  font-family: PremierSans-Heavy,Arial,Helvetica Neue,Helvetica,sans-serif;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
    width: 100%;
}

thead {
  font-family: PremierSans-Heavy;
  background: white;
  color:var(--epl-dark-purple);
  border-bottom: 5px solid var(--epl-pink);
  td {
    border: 1px solid var(--epl-dark-purple);
  }

  tr {
    border: 1px solid white;
  }
}

tr {
  border: 1px solid white;
}

td, th {
  padding: 0.5rem 1rem;
  border: 1px solid white;

  a {
    display: flex;
    align-items: center;
    gap: 10px;
  }
}

h1 {
  margin: 0;
  background: white;
  padding: 1rem 2rem;
  color: var(--epl-dark-purple);
  display: flex;
  align-items: center;

  img {
    margin-right: 1rem;
    max-width: 100px;
  }
}

%reset {
  background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
  appearance: none;
  &:focus {
    outline: 1px solid var(--epl-pink);
    box-shadow:0px 0px 5px 0px var(--epl-pink);
  }
}

label {
  display: block;
  font-family: PremierSans-Heavy;
}

select, input[type=text], input[type=date]{
  font-family: PremierSans-Bold,Arial,Helvetica Neue,Helvetica,sans-serif;
  @extend %reset;
  width: 100%;
  color: var(--epl-dark-purple);
  background: white;
  border: 1px solid var(--epl-dark-purple);
  border-radius: 3px;
  padding: .25rem 1rem;
}

input[type=date] {
  width: auto;
}

input[type=checkbox] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;

  &:focus + label {
    outline: 1px solid var(--epl-pink);
    box-shadow:0px 0px 5px 0px var(--epl-pink);
  }
  + label {
    display: inline;
    position: relative;
    &::after {
      content: '';
      color: white;
      display: block;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: -30px;
      width: 20px;
      height: 20px;
      border: 1px solid var(--epl-dark-purple);
      border-radius: 3px;
    }
  }
  &:checked + label::after {
    background-color: var(--epl-dark-purple)
  }
  &:checked + label::before {
    content: "\00d7";
    position: absolute;
    color: white;
    right: -25px;
    top: -4px;
    font-size: 1.5rem;
    z-index: 1;
  }
}

button, a.btn {
  @extend %reset;
  font-family: PremierSans-Heavy;
  text-transform: uppercase;
  padding: .75rem 1.25rem;
  background-color: var(--epl-dark-purple);
  color: white;
  border-radius: 4px;
  text-shadow: 1px 1px 0px var(--epl-light-purple);
  text-decoration: none;

  &:visited {
    color: var(--epl-dark-purple);
  }

  &:hover:not(:disabled) {
    background: var(--epl-teal);
    text-shadow: 1px 1px 0px var(--epl-pink);
    color: white;
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}

.AddPlayer {
  color:var(--epl-dark-purple);
  background-color: white;

  &__wrapper {
    background-color: white;
    padding: 2rem;
    margin: 2rem;
    border-radius: .25rem;
    box-shadow: 0px 10px 15px rgb(55, 0, 60, 0.3);
  }
}

.teamSheets {
  display: grid;
  position: relative;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  margin-bottom: 1rem;

  .versus {
    position: absolute;
    font-family: PremierSans-Heavy,Arial,Helvetica Neue,Helvetica,sans-serif;
    font-size: 4rem;
    text-shadow: 1px 1px 2px var(--epl-dark-purple);
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
  }
}

.MainNavigation {

  nav{
    padding: 1rem 0;
  }
  ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    list-style: none;
  }

  nav a{
    padding: 0.5rem 0.75rem ;
    &:hover {
      background-color: blue;
    }
  }

}

.teamGrid {
  display: grid;
  list-style: none;
  max-width: 900px;
  padding: 20px;
  margin: 0 auto;
  gap: 10px;
  grid-template-columns: repeat( auto-fit, minmax(150px, 1fr) );



  li {
    display: block;
  }

  a {
    border: 1px solid rgba(255,255,255, 0.5);
    display: flex;
    // display: block;
    height: 100%;
    width: 100%;
    padding: 10px;
    &:hover {
      background: var(--epl-pink);
      border: 1px solid var(--epl-pink);
    }

    img {
      margin: auto;
      max-width: 100%;
    }
  }

}
.page {
  width: clamp(200px, 100%, 1200px);
  margin: 0 auto;
}

.inputRow {
  margin-bottom: 1rem;
  &:last-of-type {
    margin-bottom: 0;
  }

  button:not(:last-of-type) {
    margin-right: 1rem;
  }

  &--centered {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.checkboxRow {
  margin-bottom: 1rem;
}

.AddGoal {
  &--addingGoal {
    padding: 1rem;
    color: var(--epl-dark-purple);
    background-color: white;
    border-radius: .25rem;
    box-shadow: 0px 10px 15px rgb(55, 0, 60, 0.3);
  }
}

.gameDate {
  margin: 0;
  cursor: default;
}

.teamSheets {
  margin-bottom: 2rem;
}

.team {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;

  h2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 3rem;
    text-shadow: 0px 1px 2px var(--epl-dark-purple);

    img {
      width: 100%;
      max-width: 150px;
    }
  }

  ul {
    padding: 0;
    list-style: none;
    text-shadow: 1px 2px 2px var(--epl-dark-purple);
  }
}

.GamesPage {
  > button {
    margin: 1rem 0;
  }
}

.GameRecorder {
  h3 {
    text-shadow: 0px 1px 1px var(--epl-dark-purple);
  }
  > .inputRow {
    margin: 1rem 0;
  }
}